:root {
    --listItemackgroundColor: rgb(150, 168, 175);
    --activeListItemBackgroundColor: rgb(1,1,1);
    --hoverListItemBackgroundColor: rgb(46, 89, 117);
  }
  
  [data-theme='dark'] {
    --listItemackgroundColor: rgb(231, 231, 231);
    --activeListItemBackgroundColor: rgb(1,1,1);
    --hoverListItemBackgroundColor: rgb(1,1,1);
  }
  
  .searchList {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  .searchList li:first-child {
    border-top-left-radius: 5px;
    border-left: none;
  }
  
  .searchList li:last-child {
    border-right: none;
  }
  
  .configElementButton {
    padding: 10px 15px;
    cursor: pointer;
    background: var(--listItemackgroundColor);
    transition: background-color 0.3s ease;
  }
  
  .configElementButton:hover {
    background-color: var(--hoverListItemBackgroundColor);
  }
  
  .configElementButton.active {
    background-color: var(--activeListItemBackgroundColor);
    color: var(--activeTextColor);
  }
  
  
    
    .update-button {
      padding: 10px 20px;
      background-color: var(--buttonBackground);
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
      margin-top: 10px;
    }
  
    .update-button:hover {
      background-color: var(--buttonHoverBackground);
      color: var(--activeTextColor);
    }
    
    .delete-button {
      padding: 10px 20px;
      background-color: red;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
    }
    
  
    .generalSignalConfig {
      padding: 10px;
    }
  
    .signalConfigRuleContainer {
      padding: 10px;
    }
  
    .signalConfigRuleContent {
      display: flex;
      color: var(--textColor);
      border-radius: 8px;
    }
  
    .signalConfigRulesList {
      height: 100%;
      max-height: 100%;
      overflow-y: auto; 
      width: 200px;
      margin: 8px;
      box-sizing: border-box;
    }
  
    .signalConfigRulesList ul {
      list-style: none;
      padding: 2px;
      margin: 0;
  }
  
  .signalConfigRulesList li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      width: 165px; 
      cursor: pointer;
      position: relative;
      margin: 1px;
  }
  
  @keyframes marquee {
      from {
          text-indent: 0;
      }
      to {
          text-indent: -100%; /* Adjust to fit the text length */
      }
  }
  
  .signalConfigButtonContainer {
    margin-top: 10px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .signalConfigRuleMessage {
    color: var(--textColor);
    background: var(--backgroundColor3);
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 8px;
  }