.device-list, .device-elements {
    flex: 1;
    padding: 16px;
    border: 1px solid #ddd;
    margin: 8px;
}

.device-list ul {
    list-style: none;
    padding: 0;
}

.device-list-item {
    cursor: pointer;
    padding: 8px;
    margin: 4px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.device-list-item:hover {
    background-color: #e0e0e0;
}

.device-elements {
    background-color: #fff;
}

.DeviceDashboardContainer{
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

.DeviceList {
    width: 30%; /* Adjust width for the device list */
    padding-right: 20px;
}

.DeviceElements {
    width: 70%; /* Adjust width for device details */
    padding-left: 20px;
}
