
:root {
    --MainHeaderBackground: green;
  }
  
  [data-theme='dark'] {
    --MainHeaderBackground: purple;
  }
  
  .header-container {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      font-size: 18px;
      background: rgb(0,57,77);
      background: linear-gradient(90deg, rgba(0,57,77,1) 0%, rgba(72,150,180,.15) 100%);
      backdrop-filter: blur(15px);
      color: white;
    }
    
    .header-container p {
      font-weight: bold;
      font-size: 16px;
      color: var(--text-color2);
    }
    
    .header {
      display: flex;
      align-items: center; /* Center vertically */
      justify-content: flex-start; /* Align horizontally to the start (left) */
      color: var(--text-primary);
    }
  
    .headerTitle {
      margin-left: 10px; /* Add some left margin for spacing */
      color: white;
    }
  
  