.signals-container {
    display: flex;
    height: calc(100vh - 90px);
    background: var(--contentBackground);
    backdrop-filter: blur(25px);
    border-top: var(--dropdownTopBorder);
    border-bottom: var(--dropdownBottomBorder);
    border-radius: 10px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    transition: width 0.5s ease-in-out;
    justify-content: center;
    min-width: 900px;
  }
  
  .left-column {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .right-content-wrapper {
    flex: 1;
    
  }
  
  .right-content {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    
  }
  
  .right-column {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: relative;
  width: 60%;
  max-width: 60%;
  flex-grow: 0;
  overflow-y: auto;

  /* Hide scrollbar for Chrome, Safari and Opera */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.right-column::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
  
  .right-column > div:first-child {
    flex: 0 0 25%; /* Set height of the first div to 30% */
    margin-bottom: 20px; /* Add margin between divs */
  }
  
  .right-column > div:nth-child(2) {
    flex: 0 0 25%; /* Set height of the second div to 30% */
    margin-bottom: 20px; /* Add margin between divs */
  }
  
  .right-column > div:last-child {
    flex: 0 0 50%; /* Set height of the third div to 40% */
  }

  .signalRightElementContainer {
    font-size: 15px;
    display: inline-block;
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    overflow: hidden;
    transition: height 1s ease;
    background: var(--backgroundColor3);
  }
  
  .signalRightElementContainer.expanded {
    height: 240px;
  }

  .signalRightElementContainer.memoryStatistics {
    height: 350px;
  }

  .signalRightElementContainer.interfaceStatistics {
    height: 340px;
  }
  
  .signalRightElementContainer.collapsed {
    height: 60px;
  }

  .signalRightElementHeader {
    background: var(--signalRightElementHeaderBackground);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    height: 45px;
    color: white;
    font-size: 18px;
    flex-grow: 1;
}

.signalRightElementHeader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px; /* Adjust thickness as needed */
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
}

  .signalRightElementHeaderTxt {
    padding-left: 10px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
    color: var(--textColor);
    opacity: 0.7;
    display: flex;
    align-items: center;
    transition: margin 1s ease-in-out, color 1s ease-in-out;
    z-index: 1;
  }
  
  .signalRightElementHeaderTxt:hover {
    margin-left: 10px;
    color: var(--textColor);
  }

  .zoom-buttons-container {
    margin-right: 10px;
    /* Adjust margin as needed */
  }

  .headerButtons {
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    justify-content: space-between;
  }

  .headerButton {
    background: none;
  }