.addRuleButton {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #64b5f6; /* Initial background color */
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  }
  
  .addRuleButton:hover {
    background-color: #42a5f5; /* Lighter blue on hover */
    transform: scale(1.05); /* Slight enlargement on hover */
  }
  
  .addRuleButton:active {
    background-color: #2196f3; /* Darker blue when clicked */
    transform: scale(0.98); /* Slight shrink on click */
  }
  
  .signalTagContainer {
    padding: 10px;
  }
 

  
  .update-button {
    padding: 10px 20px;
    background-color: var(--buttonBackground);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
  }

  .update-button:hover {
    background-color: var(--buttonHoverBackground);
    color: var(--activeTextColor);
  }
  
  .delete-button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }

  .syslogConfigContent {
    display: flex;
    background: var(--backgroundColor3);
    color: var(--textColor);
  }

.searchTagListElement {
  background: var(--tagListBack);
  padding: 6px 10px;
  margin: 4px 0;
  border-radius: 2px;
  border: none;
  outline: none;
  width: 220px;
}

.signalTagList {
  height: auto;
  min-height: 200px;
  max-height: 350px;
  overflow-y: auto;
  background: var(--backgroundColor3);
  padding: 10px;
}

.signalTagItem {
  cursor: pointer;
  padding: 8px 10px;
  margin: 4px 0;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--tagListBack);
  transition: background 0.3s ease, transform 0.2s ease;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--tagListCol);
}

.signalTagItem:hover {
  background-color: var(--tagListBackHover);
  transform: scale(1.02);
  text-shadow: 0 0 2px var(--tagListColHov), 0 0 5px var(--tagListColHov);
}

.signalTagItem.selected {
  background-color: var(--tagListBackSel);
  color: #fafafa;
}