.addRuleButton {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #64b5f6; /* Initial background color */
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  }
  
  .addRuleButton:hover {
    background-color: #42a5f5; /* Lighter blue on hover */
    transform: scale(1.05); /* Slight enlargement on hover */
  }
  
  .addRuleButton:active {
    background-color: #2196f3; /* Darker blue when clicked */
    transform: scale(0.98); /* Slight shrink on click */
  }
  
  .signalTagContainer {
    padding: 10px;
  }
 

  
  .update-button {
    padding: 10px 20px;
    background-color: var(--buttonBackground);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
  }

  .update-button:hover {
    background-color: var(--buttonHoverBackground);
    color: var(--activeTextColor);
  }
  
  .delete-button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }

  .syslogConfigContent {
    display: flex;
    background: var(--backgroundColor3);
    color: var(--textColor);
  }

.searchTagListElement {
  background: var(--tagListBack);
  padding: 6px 10px;
  margin: 4px 0;
  border-radius: 2px;
  border: none;
  outline: none;
  width: 220px;
}

.signalTagList {
  height: auto;
  max-height: 350px;
  overflow-y: auto;
  background: var(--backgroundColor3);
  padding: 10px;
  border-radius: 8px;
}

.signalTagList {
  height: auto;
  max-height: 350px;
  overflow-y: auto;
  background: var(--backgroundColor3);
  padding: 10px;
  border-radius: 8px;
}

.signalTagItem {
  cursor: pointer;
  padding: 8px 10px;
  margin: 6px 0;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--tagListBack);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  color: var(--tagListCol);
  transition: 
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.2s ease,
    margin 0.5s ease,
    text-shadow 0.2s ease,
    padding 0.3s ease;
  will-change: transform;
}

.signalTagItem:hover {
  padding: 10px 12px;
  background-color: var(--tagListBackHover);
  transform: scale(1.01);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 2px var(--tagListColHov);
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--textColor2);
  border-top: 1px solid var(--dropdownTopBorder);
}

.signalTagItem.selected {
  background-color: var(--tagListBackSel);
  color: #fafafa;
}

.signalTagItem input[type="checkbox"] {
  transition: transform 0.2s ease;
}

.signalTagItem:hover input[type="checkbox"] {
  transform: scale(1.05);
}

.signalTagItem button {
  background: none;
  border: none;
  font-size: 16px;
  color: #888;
  cursor: pointer;
  transition: color 0.2s ease;
}

.signalTagItem button:hover {
  color: #e53935;
}