[defaults]
host_key_checking = False
interpreter_python = auto_silent
timeout = 30

[persistent_connection]
ssh_type = libssh

[libssh_connection]
host_key_checking = False
host_key_auto_add = True

hostkeys = +ssh-rsa
key_exchange_algorithms = +diffie-hellman-group14-sha1
macs = +hmac-sha1